/* block intro */
.content__intro {
  margin: 20px 148px 92px;
}

.intro {
  width: 690px;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 40px 0 33px;
}

.intro__list {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}

.intro__list_font_weight {
  font-weight: 400;
}

@media (max-width: 768px) {
  .content__intro {
    margin: 20px auto 92px;
  }
}