.main-theme {
  background-color: #2A2C2F;
  font-family: Inter;
}

.page {
  background-color: #2A2C2F;
  color: white;
  max-width: 1280px;
  margin: auto;
}

.page__header {
  margin: 28px auto 0;
}

@media (max-width: 320px) {
  .page__header {
    margin-top: 16px
  }
}

/* block - header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100% - 96px);

}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 320px) {
  .header {
    width: calc(100% - 32px);
  }
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
  }
}

.header__container-links {
  display: flex;
  width: 76px;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .header__container-links {
    width: 64px;
  }
}

.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: white;
  font-family: Inter;
  align-self: end;
  margin: 0;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link_active {
  border-bottom: 2px white solid;
  text-align: right;
}

