.intro__list {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-width: 690px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}