.content__cover {
  margin: 12px auto 92px;
}

@media (max-width: 1024px) {
  .content__cover {
    margin: 90px auto 88px;
  }
}

@media (max-width: 752px) {
  .content__cover {
    margin: 65px auto 58px;
  }
}