.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 40px 0 33px;
  max-width: 690px;
  color: white;
  font-family: Inter;
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}