.places__place {
  margin: 0 auto 80px;
}

@media (max-width: 1080px) {
  .places__place {
    margin: 0 48px 80px;
  }
}

@media (max-width: 1023px) {
  .places__place {
    margin: -4px auto 73px;
  }
}

@media (max-width: 752px) {
  .places__place {
    margin: -4px auto 50px;
  }
}