.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  max-width: 690px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  .intro__title {
    font-size: 38px;
    line-height: 1.09;
  }
}

@media (max-width: 320px) {
  .intro__title {
    max-width: 250px;
    font-size: 32px;
  }
}